.*
!.gitignore
!.travis.yml
Thumbs.db
/out
/CMakeSettings.json
/Releases
CMakeCache.txt
CMakeFiles/
Makefile
libcapsimage.pc
libcapsimage.so
libcapsimage.so.*
cmake_install.cmake
install_manifest.txt
CapsLibVersion.h
config.h
